<h1>餐廳後台</h1>
<%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary"  %>
<div class="containter">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Opening Hours</th>
      <th>Address</th>
      <th>Option</th>
    </tr>
    <% @restaurants.each do |restaurant| %>  
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.opening_hours %></td>
      <td><%= restaurant.address %></td>
      <td>
        <%= link_to '', admin_restaurant_path(restaurant), class: "glyphicon glyphicon-new-window" %>
        <%= link_to '', edit_admin_restaurant_path(restaurant), class: "glyphicon glyphicon-pencil" %>
        <%= link_to '', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"}, class: "glyphicon glyphicon-trash" %></td>
    </tr>
    <% end %>
  </table>
</div>  
<%= paginate @restaurants %>