<h1><%= @restaurant.name %></h1>
<div class="row">
  <div class="col-md-8">
    <p><%= image_tag @restaurant.image, class: "img-responsive" %></p>
    <div class="well"><%= @restaurant.description%> </div>
  </div>
  <div class="col-md-4">  
    <p>
      <h4>Opening Hours:</h4><%= @restaurant.opening_hours %></br>
      <h4>Tel: </h4><%= @restaurant.tel %><br>
      <h4>Address: </h4><%= @restaurant.address %><br>
    </p>
  </div>
</div>
<%= link_to 'Back', admin_restaurants_path, class: "btn btn-default" %>
